<!DOCTYPE html>
html(lang="en")
    head
        include ./../head.pug
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
    body
        include ./../header.pug
        main#main-container.m-container
            form#uploadForm(enctype='multipart/form-data' action='/admin/upload' method='post')
                input(type='hidden' name='individ' value=username)
                input(type='file' name='file' multiple='')
                input(type='submit' value='Upload Image' name='submit')
            .info.shadow
                h1#count
                #media-container.m-container()
        script(src='https://code.jquery.com/jquery-3.5.1.js' integrity='sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=' crossorigin='anonymous')
        script(src="/public/js/manage.js")
        script
            | var images = []; 
            each image in images
                | var imgObj = {};
                each val, key in image 
                    | imgObj['#{key}'] = '#{val}';
                | images.push(imgObj);
            | start();
            



            
