<!DOCTYPE html>
html(lang="en")
    head
        include ./../head.pug
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
    body
        include ./../header.pug
        main#main-container.container
            form#uploadForm(enctype='multipart/form-data' action='/admin/upload' method='post')
                input(type='hidden' name='individ' value=username)
                input(type='file' name='file' multiple='')
                input(type='submit' value='Upload Image' name='submit')
            



            
