include ./header.pug
    img(src= 'http://localhost:1111/public/uploads/file-1550484364038.png', alt="not available")
    form(action='/create-user' method='post')
        div.form-group
            label(for='exampleInputEmail1') Username
            input#exampleInputEmail1.form-control(type='text' aria-describedby='emailHelp' placeholder='Enter Username' name = 'username')
            small#emailHelp.form-text.text-muted Make sure username you are entering is unique
        div.form-group
            label(for='password') Password
            input#password.form-control(type='password' placeholder='Password' name = 'password')
        div.form-group
            label(for='desc') Description
            input#password.form-control(type='text' placeholder='Description' name = 'desc')
        
        button.btn.btn-primary(type='submit') Submit
