doctype html
html
	head
		title #{pageTitle}
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, intial-scale=1.0')
		link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Titillium+Web:wght@300&display=swap' rel='stylesheet')
		link(href='/css/universal.css' rel='stylesheet')
		link(href='/css/header.css' rel='stylesheet')
		link(href='/css/images.css' rel='stylesheet')
	body
		div
			header
				h1.brand Rang Utsav
				nav#main-nav.nav
					ul#header-list.list
						li
							a(href='#') Navigation #1
						li
							a(href='#') Navigation #2
			
		div.container#main    

