<!DOCTYPE html>
html(lang="en")
    head
        include ./../head.pug
    body
    include ./../header.pug
    main#main-container.container
        form(action='login', method='post')
            span #{errorMsg}
            input(type='text', name='logusername', placeholder='username', required='')
            br
            br
            input(type='password', name='logpassword', placeholder='Password...', required='')
            br
            br
            input(type='submit', value='Login Now!')